.footer {
    @include displayflex(column);
    background: $darkgrey;
    color: $offwhite;
    padding: 1.5rem;

    #{&}-heading {
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }

    #{&}-link {
        font-size: 1.2rem;

        .fa-utensils {
            margin-right: 1rem;
        }

        .fa-handshake-angle {
            margin-right: 0.3rem;
        }
    }
}