@mixin flexcenter($direction){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin displayflex($direction){
    display:flex;
    flex-direction:$direction;
}
// @mixin boxshadow{

// }
  @mixin numbering($number){
     content: $number;
     position: absolute;
     top: 20px;
     left: -10px;
     background: $primary;
     color: $white;
     padding: 0 0.5rem;
     border-radius: 50%;
 }
//  .booking-steps_btn1::before