$primary:#9356dc;
$secondary:#FF79DA;
$teritary:#99E2D0;
$darkgrey:#353535;
$offwhite:#f6f6f6;
$white:#ffffff;
$mapseccol:#eaeaea;
$boxshadow1: 0 0 10px rgba(255, 255, 255, 0.2);
$boxshadow2:0 5px 5px 1px #dfdede;
$shrikhand-font: 'Shrikhand', cursive;




